[policy] [xml-json] Remove charset in content-type header

<!--- Provide a general summary of the issue in the Title above -->

### Expected Behavior
xml2json only replaces application/xml part by application/json in the content-type header, but leaves charset part untouched.
<!--- If you're describing a bug, tell us what should happen -->
<!--- If you're suggesting a change/improvement, tell us how it should work -->

### Current Behavior
xml2json removes charset part of the content-type header
<!--- If describing a bug, tell us what happens instead of the expected behavior -->
<!--- If suggesting a change/improvement, explain the difference from current behavior -->

### Possible Solution
<!--- Not mandatory, but suggest a fix/reason for the bug, -->
<!--- or ideas how to implement the addition or change -->

### Steps to Reproduce (for bugs)
<!--- Provide a link to a live example, or an unambiguous set of steps to -->
<!--- reproduce this bug. Include code to reproduce, if relevant -->
1. have an xml backend not specifying the content-type charset
2. add a transform-header policy on the response scope, adding a content-type with charset=utf-8
3. add a xml2json policy

### Context
<!--- How has this issue affected you? What are you trying to accomplish? -->
<!--- Providing context helps us come up with a solution that is most useful in the real world -->

### Your Environment
<!--- Include as many relevant details about the environment you experienced the bug in -->
* Version used: 1.1.0
* Browser Name and version: postman
* Operating System and version: win10


According to the [RFC7158 Section 8.1](https://tools.ietf.org/html/rfc7158#section-8.1), the charset will be set to UTF-8 by default for both request and response content-type.