Unable to overwrite localhost(sender host) for emails

## Describe the bug

Our email provider requires that the sender hostname in emails is a FQDN, we run gravitee in a openshift cluster and gravitee defaults to send the containername as it's hostname which our email provider won't accept. We have earlier been able to overwrite it with the following line in [the helm chart for apim](https://github.com/gravitee-io/helm-charts/blob/master/apim/3.x/values.yaml#L161).

## To Reproduce

Steps to reproduce the behaviour:

1.  Configure e-mail with a provider that requires FQDN for the sender host
2.  Manually set the localhost field to a valid FQDN
3.  Go to the management console and select messages
4.  Write a test message and select email as the channel and some recipients
5.  Press "send"
6.  See error in the logs It should look something like this:

org.springframework.mail.MailSendException: Failed messages: javax.mail.SendFailedException: Invalid Addresses; nested exception is: com.sun.mail.smtp.SMTPAddressFailedException: 550 [noreply@test.no](mailto:noreply@test.no): :fail: Please respond via other channels ; nested exception is: com.sun.mail.smtp.SMTPAddressFailedException: 550-Improper HELO/EHLO (CONTAINER-NAME): 550-Not fully qualified. 550-RFC 5321, section 4.1.1.1: "The argument clause contains the 550-fully-qualified domain name of the SMTP client <span class="error">[...]</span>"

## Expected behaviour

An e-mail should be sent to it's intended recipients

## Current behaviour

No e-mail is sent.

## Useful information

This seems to be the cause behind [https://github.com/gravitee-io/issues/issues/9024](https://github.com/gravitee-io/issues/issues/9024)

Errors in email seems to cause partly unrelated systems to fail without any apearant reason. [https://github.com/gravitee-io/issues/issues/8363](https://github.com/gravitee-io/issues/issues/8363) is another example where gravitee fails to send one email and it impacts more than the one user that's unable to recive the email.

## Environment

 _**What is the impacted version?**_ APIM 3.20.4

## Potential impacts

 _**Which other features may be impacted by this fix. This could be populated after fix**_ 

 _**What are the impacted versions?**_ 

## Dependencies

Link a story or other related things...