Pre-registration email's link failed

Using AM `2.3.0` , I tried the `pre-registration` feature, cliecking in the email link, response page said `Error description : invalid_token` and gateway logs contains:

```
09:14:48.095 [vert.x-eventloop-thread-0] [] ERROR i.g.a.g.handler.jwt.impl.JJwtParser - An error occurs while parsing JWT token : eyJraWQiOiJkZWZhdWx0LWdyYXZpdGVlLUFNLWtleSIsImFsZyI6IkhTNTEyIn0.eyJzdWIiOiI0YWMyZDZhMC1mMGYyLTRkMWQtODJkNi1hMGYwZjJjZDFkNzMiLCJleHAiOjE1NTM1OTE2MDAsImdpdmVuX25hbWUiOiJMYXVyZW50IiwiaWF0IjoxNTUzNTA1MjAwLCJmYW1pbHlfbmFtZSI6IkJyZXVpbGxhcmQiLCJlbWFpbCI6ImxhdXJlbnQuYnJldWlsbGFyZEBwaWVycmUtZmFicmUuY29tIn0.JFQjF_EHSfuWV2-qMn72d7agCuyAOeRyVZ9q1jLUcQO_tMNXSxz6cZUw68HUFxGmQ38b7cxm9aYG1iLqBkglCg
opensi2-am-dev_gateway-i1.1.5ofkw84vpzb1@docker-pfnet-prd-node7    | io.jsonwebtoken.security.WeakKeyException: The verification key's size is 256 bits which is not secure enough for the HS512 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS512 MUST have a size >= 512 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS512)' method to create a key guaranteed to be secure enough for HS512.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
```

Any idea how to fixe this JWT algorithm diff between the email generator and the gateway validation?

Than you.



Hi @tcompiegne ,

Yes I setup a new `jwk.secret` in the `gravitee.yml` of the `management-api`, not the `gateways`

```
jwt:
  cookiepath: "/"
  cookiesecure: true
  secret: '3d4f839a1acddc59993e9998ab960492392e10cfd6d57e2a6ab7beb091ddc9aa'
```
this is not the real secret, I changed some chars but it is the same length.


Hi @mielune,

You must set the same `jwt.secret` for the gateway and it should work.

Same jwt.secret is the solution. Tested and working.
It's working, thank's.