AM does not URL-decode when using Basic Authentication as specified in RFC 6794

## :collision: Describe the bug
According to RFC 6794, section 2.3.1 the client id and client secret should be URL-encoded when using Basic Authentication. Since AM does not URL-decode those parameters, passwords with special characters do not work when using an OIDC library like Nimbus which handles the URL-encoding correctly.

## :sunrise_over_mountains: To Reproduce
Steps to reproduce the behaviour:
1. Configure an application in AM with client id "test" and password "abc~def".
1. Use the Nimbus SDK to send a token request:
   ```
    final ClientID clientId = new ClientID("test");
    final Secret clientSecret = new Secret("abc~def");
    final ClientAuthentication clientAuth = new ClientSecretBasic(clientId, clientSecret);
    final URI tokenEndpoint = new URI(
        "https://<Auth-URL>/domain/oauth/token");
    final TokenRequest tokenRequest = new TokenRequest(tokenEndpoint, clientAuth, codeGrant);
    final TokenResponse tokenResponse = OIDCTokenResponseParser.parse(
        tokenRequest.toHTTPRequest().send());
   ```

## :rainbow: Expected behaviour
The token request should succeed.

## Current behaviour
An `invalid_client` error is returned, because the URL-encoded secret does not match the secret associated with the application.

## :movie_camera: Useful information

[RFC 6749](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1)
[Nimbus code handling the URL encoding](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/src/master/src/main/java/com/nimbusds/oauth2/sdk/auth/ClientSecretBasic.java)

## :computer: Desktop:

***Please complete the following information:***
 - Environment: AM 3.17.1
 - OS: Official Helm chart and Docker image, client is Windows 10 Enterprise
 - Browser. n/A

## :warning: Potential impacts

***Which other features may be impacted by this fix. This could be populated after fix***

***What are the impacted versions?***

## :link: Dependencies

none
