User auth with non-ASCII password against LDAP rarely works

<!--- Provide a general summary of the issue in the Title above -->

A user with non-ASCII characters in the password usually cannot log in to API Management web UI.
We use LDAP auth (in apim-api:gravitee.yml:security:providers: - type ldap).

I've tried to hash both the latin-1 version and the utf-8 version of the password and
put it in ldap userPassword.

However, a collegue it had been failing for did get in once when he tried to cut&paste
it from...something.  Don't know what.  I've tried cut&paste without luck.
I've tested that the passwords do work with ldapwhoami -y filename-with-raw-password.

### Expected Behavior
<!--- If you're describing a bug, tell us what should happen -->
<!--- If you're suggesting a change/improvement, tell us how it should work -->

By default, auth should work when LDAP userPassword has the utf-8 version of the password,
that's the encoding which the LDAP standard recommends for _textual_ passwords.  But there
is an exception for non-textual passwords... See RFC 4511 section 4.2, last paragraph.

### Current Behavior
<!--- If describing a bug, tell us what happens instead of the expected behavior -->
<!--- If suggesting a change/improvement, explain the difference from current behavior -->

Auth usually doesn't work.

### Possible Solution
<!--- Not mandatory, but suggest a fix/reason for the bug, -->
<!--- or ideas how to implement the addition or change -->

### Steps to Reproduce (for bugs)
<!--- Provide a link to a live example, or an unambiguous set of steps to -->
<!--- reproduce this bug. Include code to reproduce, if relevant -->
1. If you have openldap @ linux: create two files with such a password, encoded in latin-1 and utf-8, and *not* ending with end-of-line.
2. Create password hashes med sbin/slappasswd, or perl -wnle 'print "userPassword: {crypt}" . crypt($_, "xyzzy")' FILENAME
3. Add them to two different users.
4. Verify that it works: ldapwhoami -ZZ -D "user dn" -y file-with-password

5. set up ldap auth
6. Now try to auth to api management

our ldap config:
```
    - type: ldap
      context-source-url: "ldaps://ldap.uio.no/"
      context-source-username: "{{ ldap_username }}"
      context-source-password: "{{ ldap_password }}"
      context-source-base: "cn=system,dc=uio,dc=no"
      user-dn-patterns: "uid={0}"
      user-search-base: "cn=users"
      user-search-filter: "uid={0}"
      user-search-objectclass: "posixAccount"
      ...omitting groups/roles

```
### Context
<!--- How has this issue affected you? What are you trying to accomplish? -->
<!--- Providing context helps us come up with a solution that is most useful in the real world -->

Not having to tell users "use ASCII passwords".  In particular now that the world is finally
moving to passphrases.

### Your Environment
<!--- Include as many relevant details about the environment you experienced the bug in -->
* Version used: 1.12.5
* Browser Name and version: Firefox 52.5.1. Chromium	61.0.3163.100 (Developer Build) Fedora Project (64-bit).
* Operating System and version: Linux - RHEL 7.4
